<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="container">
        <div class="about-us">
            <div class="contacts">
                <h3>Call us now</h3>
                <p>
                    Office telephone: (251) 546-9442<br>
                    Hotline: 906-2721
                </p>
            </div>
            <div class="location">
                <h3>Come visit us</h3>
                <p>
                    123 6th St.<br>
                    Melbourne, FL 32904
                </p>
            </div>
            <div class="mail">
                <h3>Send a messenge</h3>
                <p>
                    Email: <a href="mailto:pahudesign@pahu.vn">pahudesign@pahu.vn</a>
                    Inquiries:<a href="mailto:support@pahu.vn">support@pahu.vn</a>
                </p>
            </div>
        </div>
        <div class="about-us-bottom">
            <div class="about-us-bottom-item our-social">
                <img src="images/Logo-footer.png" width="271" height="42" alt="">
                <div class="social-networks">
                    <a href="#"><img src="images/fb.png" width="42" height="42" alt=""></a>
                    <a href="#"><img src="images/google.png" width="42" height="42" alt=""></a>
                    <a href="#"><img src="images/twiter.png" width="42" height="42" alt=""></a>
                    <a href="#"><img src="images/youtube.png" width="42" height="42" alt=""></a>
                </div>
            </div>
            <div class="about-us-bottom-item hours-work">
                <h3>Hours work</h3>
                <p>
                    Monday - Friday: 08:00 am - 17:00 pm.<br>
                    Saturday: 09:00 am - 12h30 pm.
                </p>
            </div>
            <div class="about-us-bottom-item newsletter">
                <h3>Newsletter</h3>
                <form action="https://echo.htmlacademy.ru" name="form-mail" class="form-mail">
                    <div class="form_row">
                        <p class="form_input">
                            <input type="email" name="mail" placeholder="Enter your email..." required>
                            <button type="submit"></button>
                        </p>
                    </div>
                </form>
                <p>
                    Sign up to get exclusive offers from our favorite brands and to be well up in the news.
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- /FOOTER -->
