<!-- HEADER -->
<header class="main-header">
    <div class="container">
        <nav class="main-header-nav">
            <a class="logo" href="#"><img src="images/Logo.png" width="191" height="30" alt="Logo «Pahu»"></a>
            <ul class="site-list">
                <li class="active"><a href="">Home</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Shop</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Accessories</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <div class="header-right">
                <ul class="user-list">
                    <li><a href="#">
                        <img src="images/magnifying-glass.png" alt="Magnifying-glass"></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/heart.png" alt="Heart"></a>
                    </li>
                    <li class="truck"><a href="#">
                        <img src="images/truck.png" alt="Truck"><span class="purchases">2</span></a>
                    </li>
                </ul>
                <div class="burger">
                    <div class="burger-brick"></div>
                    <div class="burger-brick middle"></div>
                    <div class="burger-brick"></div>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- /HEADER -->

