<section class="our-production">
    <div class="production-row">
        <a href="#" class="production-item">
            <p>Patio<br>Furniture<br>vietnam<br><span class="detail">view deatail</span></p>
            <div class="production-pic">
                <img src="../Images/aircraft.png" alt="">
            </div>
        </a>

        <a href="#" class="production-item production-item-blue">
            <p>Design by <br> jarnet park <br> trend 2017 <br><span class="detail">view deatail</span></p>
            <div class="production-pic">
                <img src="../Images/big-sofa.png" alt="">
            </div>
        </a>
    </div>
    <div class="production-row">
        <div class="production-pic-small">
            <img src="images/bench.png" alt="">
        </div>
        <a href="#" class="production-item production-item-brown">
            <p>Ceramics <br> wm <br>munoz<br><span class="detail">view deatail</span></p>

            <div class="production-pic">
                <img src="images/ceramics.jpg" alt="">
            </div>
            
        </a>
        <div class="production-pic-small">
            <img src="images/apple.png" alt="">
        </div>
    </div>
</section>
<section class="our-collection">
    <h2 class="title">Our collection</h2>
    <div class="container">
        <ul>
            <li class="item new">
                    <img src="images/chair.png" width="272" height="227" alt="">
                    <h3>Corona chair</h3>
                    <p>Printed evening dress with straight sleeves</p>
                    <b class="price">$14.86</b>
                    <ul class="block-shopping">
                        <li class="q">
                            <a href="#"><img src="images/magnifying-glass.png" width="19" height="19px" alt=""></a>
                            <a href="#"><img src="images/truck.png" alt=""></a>
                            <a href="#"><img src="images/heart.png" alt=""></a>
                        </li>
                    </ul>
            </li>
            <li class="item">
                <img src="images/chairTwo.png" width="272" height="227" alt="">
                <h3>Corona chair</h3>
                <p>Printed evening dress with straight sleeves</p>
                <b class="price">$14.86</b>
                <ul class="block-shopping">
                    <li class="q">
                        <a href="#"><img src="images/magnifying-glass.png" width="19" height="19px" alt=""></a>
                        <a href="#"><img src="images/truck.png" alt=""></a>
                        <a href="#"><img src="images/heart.png" alt=""></a>
                    </li>
                </ul>
            </li>
            <li class="item new">
                <img src="images/chairThree.png" width="272" height="227" alt="">
                <h3>Corona chair</h3>
                <p>Printed evening dress with straight sleeves</p>
                <b class="price">$14.86</b>
                <ul class="block-shopping">
                    <li class="q">
                        <a href="#"><img src="images/magnifying-glass.png" width="19" height="19px" alt=""></a>
                        <a href="#"><img src="images/truck.png" alt=""></a>
                        <a href="#"><img src="images/heart.png" alt=""></a>
                    </li>
                </ul>
            </li>
            <li class="item">
                <img src="images/chairFour.png" width="272" height="227" alt="">
                <h3>Corona chair</h3>
                <p>Printed evening dress with straight sleeves</p>
                <b class="price">$14.86</b>
                <ul class="block-shopping">
                    <li class="q">
                        <a href="#"><img src="images/magnifying-glass.png" width="19" height="19px" alt=""></a>
                        <a href="#"><img src="images/truck.png" alt=""></a>
                        <a href="#"><img src="images/heart.png" alt=""></a>
                    </li>
                </ul>
            </li>
            <li class="item">
                <img src="images/chairFive.png" width="272" height="227" alt="">
                <h3>Corona chair</h3>
                <p>Printed evening dress with straight sleeves</p>
                <b class="price">$14.86</b>
                <ul class="block-shopping">
                    <li class="q">
                        <a href="#"><img src="images/magnifying-glass.png" width="19" height="19px" alt=""></a>
                        <a href="#"><img src="images/truck.png" alt=""></a>
                        <a href="#"><img src="images/heart.png" alt=""></a>
                    </li>
                </ul>
            </li>
            <li class="item">
                <img src="images/chairSix.png" width="272" height="227" alt="">
                <h3>Corona chair</h3>
                <p>Printed evening dress with straight sleeves</p>
                <b class="price">$14.86</b>
                <ul class="block-shopping">
                    <li class="q">
                        <a href="#"><img src="images/magnifying-glass.png" width="19" height="19px" alt=""></a>
                        <a href="#"><img src="images/truck.png" alt=""></a>
                        <a href="#"><img src="images/heart.png" alt=""></a>
                    </li>
                </ul>
            </li>
            <li class="item new">
                <img src="images/chairSeven.png" width="272" height="227" alt="">
                <h3>Corona chair</h3>
                <p>Printed evening dress with straight sleeves</p>
                <b class="price">$14.86</b>
                <ul class="block-shopping">
                    <li class="q">
                        <a href="#"><img src="images/magnifying-glass.png" width="19" height="19px" alt=""></a>
                        <a href="#"><img src="images/truck.png" alt=""></a>
                        <a href="#"><img src="images/heart.png" alt=""></a>
                    </li>
                </ul>
            </li>
            <li class="item">
                <img src="images/chairEight.png" width="272" height="227" alt="">
                <h3>Corona chair</h3>
                <p>Printed evening dress with straight sleeves</p>
                <b class="price">$14.86</b>
                <ul class="block-shopping">
                    <li class="q">
                        <a href="#"><img src="images/magnifying-glass.png" width="19" height="19px" alt=""></a>
                        <a href="#"><img src="images/truck.png" alt=""></a>
                        <a href="#"><img src="images/heart.png" alt=""></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>