<section class="our-designer">
    <div class="container">
        <div class="wrapper-title">
            <h2 class="title">Our-designer</h2>
            <div class="lines">
                <span class="figure"></span>
            </div>
        </div>
        <div class="designers">
            <div class="designers-our">
                <img src="images/Bertil Stan.jpg" width="373" height="427" alt="">
                <div class="wrapper"><p>Bertil Stam</p><span class="line"></span></div>
            </div>
            <div class="designers-our">
                <img src="images/Janet-Park.jpg" width="373" height="427" alt="">
                <div class="wrapper"><p>Janet Park</p><span class="line"></span></div>
            </div>
            <div class="designers-our">
                <img src="images/Wm-Munoz.jpg" width="373" height="427" alt="">
                <div class="wrapper"><p>Wm Munoz</p><span class="line"></span></div>
            </div>
        </div>
    </div>
</section>
<section class="our-project">
    <div class="wrapper-title">
        <h2 class="title">Our-Project</h2>
        <div class="lines">
            <span class="figure"></span>
        </div>
    </div>
    <ul class="slider-interior">
        <li>
            <div class="interior-design">
                <img src="images/modern1.jpg" width="400" height="1000" alt="">
            </div>
            <p class="top">Modern living room</p>
            <p class="bottom">interior design</p>

        </li>
        <li>
            <div class="interior-design">
                <img src="images/modern2.jpg" width="400" height="1000" alt="">
            </div>
            <p class="top">Modern living room</p>
            <p class="bottom">interior design</p>

        </li>
        <li>
            <div class="interior-design">
                <img src="images/modern3.jpg" width="400" height="1000" alt="">
            </div>
            <p class="top">Modern living room</p>
            <p class="bottom">interior design</p>

        </li>
        <li>
            <div class="interior-design">
                <img src="images/modern4.jpg" width="400" height="1000" alt="">
            </div>
            <p class="top">Modern living room</p>
            <p class="bottom">interior design</p>

        </li>
        <li>
            <div class="interior-design">
                <img src="images/modern1.jpg" width="400" height="1000" alt="">
            </div>
            <p class="top">Modern living room</p>
            <p class="bottom">interior design</p>

        </li>
        <li>
            <div class="interior-design">
                <img src="images/modern2.jpg" width="400" height="1000" alt="">
            </div>
            <p class="top">Modern living room</p>
            <p class="bottom">interior design</p>

        </li>
        <li>
            <div class="interior-design">
                <img src="images/modern3.jpg" width="400" height="1000" alt="">
            </div>
            <p class="top">Modern living room</p>
            <p class="bottom">interior design</p>

        </li>
        <li>
            <div class="interior-design">
                <img src="images/modern4.jpg" width="400" height="1000" alt="">
            </div>
            <p class="top">Modern living room</p>
            <p class="bottom">interior design</p>

        </li>
    </ul>
</section>