<section class="our-blog">
    <div class="container">
        <div class="wrapper-title">
            <h2 class="title">From our blog<span></span></h2>
                <div class="lines">
                    <span class="figure"></span>
                </div>
        </div>
        <ul>
            <li>
                <img src="images/img1.jpg" width="372" height="270" alt="">
                <h3>Our new work space</h3>
                <p>
                    Feel alive! So if you’re looking for, here is a list of some of the most popular and fiestas the Mardin has to offer thisfiestas the Mardin has to offer!
                </p>
                <a href="#">Read more</a>
            </li>
            <li>
                <img src="images/img2.jpg" width="372" height="270" alt="">
                <h3>Modern trand collection</h3>
                <p>
                    Feel alive! So if you’re looking for, here is a list of some of the most popular and fiestas the Mardin has to offer thisfiestas the Mardin has to offer!
                </p>
                <a href="#">Read more</a>
            </li>
            <li>
                <img src="images/img3.jpg" width="372" height="270" alt="">
                <h3>A woman thinking</h3>
                <p>
                    Feel alive! So if you’re looking for, here is a list of some of the most popular and fiestas the Mardin has to offer thisfiestas the Mardin has to offer!
                </p>
                <a href="#">Read more</a>
            </li>
        </ul>
    </div>
</section>