<section class="pahu-design">
        <ul class="pahu-design-slider">
            <li>
                <img src="images/banner.jpg" width="1600" height="879" alt="">
                <div class="pahu-design-intro">
                    <h3 class="pahu-title">Welcome To <span>Pahu Design</span></h3>
                    <strong>YOU ARE IN GOOD<br>
                        HAND WITH US</strong>
                </div>
            </li>
            <li> <img src="images/banner.jpg" width="1600" height="879" alt="">
                <div class="pahu-design-intro">
                    <h3 class="pahu-title">Welcome To <span>Pahu Design</span></h3>
                    <strong>YOU ARE IN GOOD<br>
                        HAND WITH US</strong>
                </div></li>
            <li> <img src="images/banner.jpg" width="1600" height="879" alt="">
                <div class="pahu-design-intro">
                    <h3 class="pahu-title">Welcome To <span>Pahu Design</span></h3>
                    <strong>YOU ARE IN GOOD<br>
                        HAND WITH US</strong>
                </div></li>
            <li> <img src="images/banner.jpg" width="1600" height="879" alt="">
                <div class="pahu-design-intro">
                    <h3 class="pahu-title">Welcome To <span>Pahu Design</span></h3>
                    <strong>YOU ARE IN GOOD<br>
                        HAND WITH US</strong>
                </div></li>
        </ul>
</section>
<section class="why-us">
    <div class="container">
            <div class="wrapper-title">
                <h2 class="title">Why choose us</h2>
                <div class="lines">
                    <span class="figure"></span>
                </div>
            </div>
            <div class="why-us-wrapper">
                <div class="advantages-left">
                    <div class="advantages-top-wrapper">
                        <div class="advantages-left-top">
                            <h3>Mordern design</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <img src="images/tools.png" width="68" height="71" alt="">
                    </div>
                    <div class="advantages-bottom-wrapper">
                        <div class="advantages-left-bottom">
                            <h3>Unique Quality</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <img src="images/medal.png" width="97" height="68" alt="">
                    </div>
                </div>
                <div class="img">
                    <img src="images/sofa.png" alt="Sofa">
                </div>
                <div class="advantages-right">
                   <div class="advantages-top-wrapper">
                    <img src="images/money.png"  width="67" height="81" alt="Money">
                    <div class="advantages-right-top">
                        <h3>Mordern design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                       </div>
                   </div>
                   <div class="advantages-bottom-wrapper">
                    <img src="images/phone.png" width="67" height="81" alt="Phone">
                    <div class="advantages-right-bottom">
                        <h3>Great support</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                   </div>
                </div>
            </div>
    </div>
</section>